<div class="container-fluid">
    <h3 class="text-center">Create A New Room</h3>
    <form ng-submit="submit()">
    <div class="form-group">
        <label class = "col-md-4 control-label text-right" for="createARoom">Enter A New Room</label>
        <div class="col-sm-4">
            <input type="text" ng-model="name" class="form-control" id="createARoom" placeholder="Room Name"/>
        </div> 
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit"/>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</div>